# Data Science Tools and Ecosystem

This notebook summarizes Data Science Tools and Ecosystem

**Objectives**

* Libraries most commonly used by Data Scientists
* Evaluating arithmetic expression examples
* Creating a single column table
* Convert minutes to hours

Some of the popular languages that Data Scientists use are:

    1. Python
    2. R 
    3. SQL

Some of the most common libraries used by Data Scientists include:
    
    1. Scikit-learn
    2. Pandas 
    3. NumPy

| Data Science Tools |
| ------------------ |
| Jupyterlab |
| VS Code |
| GoogleColab |

### The following are a few examples of evaluating arithmetic expressions in Python.

In [21]:
#This expressionevaluates a product of four  numbers plus plus a third   
(3*4)+5

17

In [25]:
 # This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Xolani Dlamini